<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试邮件</title>
</head>
<body>
<form action="sendMail" method="post">
    <label for="txtMailTo">目标邮箱：</label>
    <input type="text" id="txtMailTo" name="mailTo" placeholder="请输入目标邮箱"><br>
    <label for="txtSubject">邮件标题：</label>
    <input type="text" id="txtSubject" name="subject" placeholder="请输入邮件标题"><br>
    <label for="txtMailTo">邮件内容：</label>
    <input type="text" id="txtContent" name="content" placeholder="请输入邮件内容"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>