<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>角色列表</title>
    <link th:href="@{/easyui/themes/default/easyui.css}" rel="stylesheet"/>
    <link th:href="@{/easyui/themes/icon.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/myicon.css}" rel="stylesheet"/>
</head>
<body class="easyui-layout">
<div region="west" split="true" width="50%">
    <!-- 表格 -->
    <table id="dg"></table>
    <!-- 工具栏 -->
    <div id="tb">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <a href="javascript:loadAll()" class="easyui-linkbutton" iconCls="icon icon-refresh"
                       plain="true" shiro:hasPermission="/role/loadall">加载全部</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td>&nbsp;角色名称：</td>
                <td>
                    <input class="easyui-textbox" id="searchcontent" name="searchcontent" size="20"
                           data-options="prompt:'输入查询内容...'"
                           onkeydown="if(event.keyCode==13){ queryAction(); }"/>
                </td>
                <td><a href="javascript:queryAction()" class="easyui-linkbutton" iconCls="icon icon-search"
                       plain="true" shiro:hasPermission="/role/search">搜索</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td><a href="javascript:openAddDialog()" class="easyui-linkbutton" iconCls="icon icon-add"
                       plain="true" shiro:hasPermission="/role/save">新增</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
            </tr>
        </table>
        <!-- 控制表格中的按钮权限 -->
        <input type="hidden" id="hdupdate" shiro:hasPermission="/role/update"/>
        <input type="hidden" id="hddelete" shiro:hasPermission="/role/delete"/>
        <input type="hidden" id="hdconfig" shiro:hasPermission="/role/config"/>
    </div>
    <!-- 弹出新增修改对话框 -->
    <div id="dlg" class="easyui-dialog" style="width:300px;height:150px;padding: 10px 10px" closed="true"
         buttons="#dialog-buttons" modal="true">
        <form id="fm" method="post">
            <table>
                <tr>
                    <td><label for="rolename">角色名称：</label></td>
                    <td><input type="text" id="rolename" name="rolename" class="easyui-textbox easyui-validatebox"
                               required="true" style="width:180px;"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- 对话框按钮 -->
    <div id="dialog-buttons">
        <a href="javascript:saveAction()" class="easyui-linkbutton" iconCls="icon icon-users">保存</a>
        <a href="javascript:closeDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
    </div>
</div>
<div region="center">
    <ul id="resourceTree"></ul>
</div>
<script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/easyui/easyui_plus.js}"></script>
<script type="text/javascript" th:src="@{/biz/common.js}"></script>
<script type="text/javascript" th:src="@{/biz/role.js}"></script>
</body>
</html>